{% extends 'flipkartclone/index.html' %}

{% block display_product %}
{% load static %}

    {% for item in product %}
    <div class="product-container" id="{{item.id}}">
        <div class="product-image">
            <div class="col-sm flex-item">
                <img src="{{item.scrset.url}}">
            </div>
            <div class="container product-image-btn">
                <button class="addBtn" data-id="{{item.id}}" style="background: #ff9f00;">ADD CART</button></a>
                <button style="background: #fb641b;;">BUY NOW</button>
            </div>
        </div>
        <div class="product-information">
            <div class="row flex-container">
                <div class="col-sm flex-item" style="margin-top:1rem">
                    <div>
                        <div class="col col-7-12">
                            <div style="font-size: 22px;">{{ item.name }}</div>
                            <div class="col-sm flex-item" style="margin-top:1rem">
                                <div class="col col-5-12">
                                    <div style="font-size: 30px;">₹{{ item.price }}</div>
                                    <div class="">₹11,999</div>
                                    <div class=""><span>{{ item.offer }}</span></div>
                                </div>
                            </div>
                            <hr>
                            <div class=""><span id="itemRating_LSTMOBGE2KYCFZA7BRBUNTJVL_MOBGE2KYCFZA7BRB_" class="">
                                    <div class="">4.3<img
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                                            class="">
                                    </div>
                                    </span><span class=""><span><span>62,003 Ratings&nbsp;</span><span
                                            class="">&amp;</span><span>&nbsp;5,075 Reviews</span></span></span>
                            </div>
                            <div class="">
                                <ul class="">
                                    <li class="">4 GB RAM | 64 GB ROM | Expandable Upto 256 GB</li>
                                    <li class="">17.32 cm (6.82 inch) HD+ Display</li>
                                    <li class="">13MP + Depth Lens | 8MP Front Camera</li>
                                    <li class="">6000 mAh Li-ion Polymer Battery</li>
                                    <li class="">Unisoc T610 Processor</li>
                                    <li class="">1 Year on Handset And 6 Months on Accessories</li>
                                </ul>
                            </div>
                            <div class="">
                                <ul class="">
                                    <li class="">4 GB RAM | 64 GB ROM | Expandable Upto 256 GB</li>
                                    <li class="">17.32 cm (6.82 inch) HD+ Display</li>
                                    <li class="">13MP + Depth Lens | 8MP Front Camera</li>
                                    <li class="">6000 mAh Li-ion Polymer Battery</li>
                                    <li class="">Unisoc T610 Processor</li>
                                    <li class="">1 Year on Handset And 6 Months on Accessories</li>
                                </ul>
                            </div>
                            <div class="">
                                <ul class="">
                                    <li class="">4 GB RAM | 64 GB ROM | Expandable Upto 256 GB</li>
                                    <li class="">17.32 cm (6.82 inch) HD+ Display</li>
                                    <li class="">13MP + Depth Lens | 8MP Front Camera</li>
                                    <li class="">6000 mAh Li-ion Polymer Battery</li>
                                    <li class="">Unisoc T610 Processor</li>
                                    <li class="">1 Year on Handset And 6 Months on Accessories</li>
                                </ul>
                            </div>
                            <div class="">
                                <ul class="">
                                    <li class="">4 GB RAM | 64 GB ROM | Expandable Upto 256 GB</li>
                                    <li class="">17.32 cm (6.82 inch) HD+ Display</li>
                                    <li class="">13MP + Depth Lens | 8MP Front Camera</li>
                                    <li class="">6000 mAh Li-ion Polymer Battery</li>
                                    <li class="">Unisoc T610 Processor</li>
                                    <li class="">1 Year on Handset And 6 Months on Accessories</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>

    $(function (){ 
        $('.addBtn').on('click', function(){ 
            //Fetch Id 
            var id = $(this).data('id');
            
            
            $.ajax({
                type: "POST",
                url: '/cart',   
                data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                      id : id},   /* Passing the text data */
                success:  function(response){
                       alert('Product added to cart ):');
                   }
            });
    
    
    //         var element = document.getElementById(`${id}`)
    //         element.innerHTML = element.innerText || element.textContent;
    //         console.log(element.innerHTML)
            
        }); 
    }); 

        
</script>

{% endblock display_product %}